<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.dao.ToolsCategoryDao">

    <insert id="addToolsCategory" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO toolsCategory
        (category) VALUES
        (#{category})
    </insert>

    <select id="countToolsCategory" resultType="Integer">
        SELECT count(0)
        FROM toolsCategory w
        WHERE w.delete_status = '1'
    </select>

    <select id="listToolsCategory" resultType="com.alibaba.fastjson.JSONObject">
        SELECT *, DATE_FORMAT(create_time, '%Y.%m.%d %T') createTime,
        DATE_FORMAT(update_time, '%Y.%m.%d %T') updateTime FROM toolsCategory WHERE `delete_status`= 1
        LIMIT #{offSet}, #{pageRow}
    </select>

    <update id="updateToolsCategory" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE toolsCategory
        SET
        category = #{category}
        <if test="delete_status!=null and delete_status!=''">
            ,delete_status=#{delete_status}
        </if>
        WHERE id = #{id}
    </update>

</mapper>